<h1>Added record is: </h1>

<p><b>Name: </b> <%= @article.name %><br/>
<b>Author(s): </b> <%= @article.authors %><br/>
<b>Desciption: </b> <%= @article.description %></p>

<%= link_to 'Home', articles_path, :class => 'btn btn-primary' %>